[Desktop Entry]
Version=1.0
Type=Application
Name=HPM
GenericName=HSTL Photo Metadata Manager
Comment=Photo metadata processing framework
Exec=/usr/bin/python3 /home/juren/Projects/HST-Metadata/Photos/Version-2/Framework/gui/hstl_gui.py
Icon=HPM
Terminal=false
Categories=Graphics;Photography;Utility;
StartupNotify=true
StartupWMClass=hstl_gui
Keywords=photo;metadata;hstl;framework;
Path=/home/juren/Projects/HST-Metadata/Photos/Version-2/Framework
