Attached is a link to the 3rd test files for the audio tagging project.

I think I got all the changes we discussed into the test.


 HSLT-audio-test-tags-3rd-Rnd.zip
 One attachment  •  Scanned by Gmail

https://drive.google.com/file/d/1MDgzzu7po2MavpB1OyunRRP1AT8LiTFY/view?usp=drive_web
